<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>

<body>

  <header class="navbar">
    <div class="nav-links">
      <a routerLink="/auth/register" href="#">
        <span class="material-symbols-outlined icon">person</span>
        สมัครสมาชิก
      </a>
      <a routerLink="/auth/login" href="#">
        <span class="material-symbols-outlined icon">login</span>
        เข้าสู่ระบบ
      </a>
    </div>
  </header>

  <main class="container">

    <section class="login-card">
      <h2>เข้าสู่ระบบ</h2>
      <form (ngSubmit)="onLogin()">
        <!-- <div class="input-group">
          <label for="email">อีเมล</label>
          <input type="email" id="email" placeholder="" required>
        </div>

        <div class="input-group">
          <label for="password">รหัสผ่าน</label>
          <input type="password" id="password" required>
          <div class="forgot-pass">
            <a href="#">ลืมรหัสผ่าน ?</a>
          </div>
        </div> -->

        <div class="input-group">
          <label for="email">อีเมล <span class="required-star">*</span></label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required 
            [class.invalid]="isEmailInvalid()" />
          <div class="input-info">
            <div *ngIf="isSubmitted && !email.trim()" class="error-message">
              กรุณากรอกอีเมล
            </div>
            <div *ngIf="isSubmitted && email.trim() && isEmailInvalid()" class="error-message">
              รูปแบบอีเมลไม่ถูกต้อง
            </div>
            <div *ngIf="!isEmailInvalid()" class="error-placeholder"></div>
          </div>
        </div>

        <div class="input-group">
          <label for="password">รหัสผ่าน <span class="required-star">*</span></label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required 
            [class.invalid]="isPasswordInvalid()" />
          <div class="input-info">
            <div *ngIf="isPasswordInvalid()" class="error-message">
              กรุณากรอกรหัสผ่าน
            </div>
            <div *ngIf="!isPasswordInvalid()" class="error-placeholder"></div>
          </div>
          <div class="forgot-pass">
            <a href="#">ลืมรหัสผ่าน ?</a>
          </div>
        </div>

        <button type="submit" class="btn-login">เข้าสู่ระบบ</button>

        <div class="divider">or</div>

        <button (click)="loginWithGoogle()" type="button" class="btn-google">
          <img src="assets/image/Google.png" alt="Google">
          Google
        </button>
      </form>
    </section>

    <section class="visual-content">
      <div class="brand">
        <img src="assets/image/logo.jpg" alt="Dorm Logo" class="logo-image">
        <p class="tagline">ให้เราช่วยจัดการหอพักของคุณ อย่างมีประสิทธิภาพ</p>
      </div>
      <div class="hero-image">
        <img src="assets/image/Cream.png" alt="Dorm Room Illustration">
      </div>
    </section>

  </main>

</body>

</html>