<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header class="navbar">
        <div class="navbar-content">
            <div class="bill-title">
                {{ bill?.title }}
            </div>
            <div class="close-btn" (click)="close()">
                <span class="material-symbols-outlined">
                close_small
                </span>
                ปิด
            </div>
        </div>
    </header>

    <div class="details-container" *ngIf="bill">
        <div class="status-card">
            <div class="card-title">สถานะบิล</div>
            <div class="status-content">
                <span class="status-warning" [ngClass]="bill.status">
                    <span *ngIf="bill.status === 'pending'">!</span>
                    <span *ngIf="bill.status === 'overdue'">×</span>
                    <span *ngIf="bill.status === 'paid'">✓</span>
                    {{ bill.statusText }}
                </span>
            </div>
        </div>

        <div class="details-table-card">
            <table class="details-table">
                <thead>
                    <tr>
                        <th class="item-col">รายการ</th>
                        <th class="amount-col">จำนวนเงิน (บาท)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of bill.items">
                        <td>{{ item.name }}</td>
                        <td>{{ item.amount }}</td>
                    </tr>
                    <tr class="total-row" *ngIf="bill.total">
                        <td>ยอดรวมทั้งหมด</td>
                        <td>{{ bill.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="reminder-card" *ngIf="bill.status === 'overdue'">
            *กรุณาชำระก่อนวันที่ 5
        </div>

        <div class="action-btn-container" *ngIf="bill.status === 'overdue'">
            <button class="notify-payment-btn" (click)="goToOverduePayment()">แจ้งชำระเงิน</button>
        </div>
    </div>

</body>
</html>
